BROWSER_SEARCH_HEADLESS=true
BROWSER_SEARCH_MAX_QUEUE=8
GOOGLE_CONSENT_MODE=manual
GOOGLE_COOLDOWN_MS=12000
GOOGLE_BLOCK_BACKOFF_MS=900000
GOOGLE_MAX_RESULTS=10
GOOGLE_DEFAULT_COUNTRY=nl
GOOGLE_NAVIGATION_TIMEOUT_MS=30000
GOOGLE_RESULT_TIMEOUT_MS=10000
